  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }

  #grid {
      display: inline-block;
      border: 1px solid #ddd;
  }

  .row {
      display: flex;
  }

  .cell {
      flex: 0 0 40px;
      height: 40px;
      border: 1px solid #ddd;
      box-sizing: border-box;
  }